.app-layout {
  min-height: 100vh;

  .app-header {
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    align-items: center;

    .app-logo-wrapper {
      display: flex;
      align-items: center;
      text-decoration: none;

      .demo-logo {
        width: 32px;
        min-width: 32px;
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
        margin-inline-end: 16px;
      }
    }

    .app-menu {
      flex: 1;
      min-width: 0;
    }
  }

  :global(.ant-layout-content) {
    height: 100%;
  }
}
